body  {
    margin: 0;
}
h1 {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

.s-color {
    color: red;
}

.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-div {
    width: 40%;
    margin: 0 5%;
    padding: 0 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

#experience-right {
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#experience-left {
    border-left: 10px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}